# PDF klasörü
/pdf/
/pdf-from-html/
/html/

# Node.js dependencies
/node_modules/
/.pnp
.pnp.js

# Build dosyaları
/.next/
/out/
/build/
/dist/

# Ortam değişkenleri
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug logları
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS dosyaları
.DS_Store
Thumbs.db

# IDE/Editor klasörleri
/.idea/
/.vscode/
*.swp
*.swo
